:root {
    --main-white: #f0f0f0;
    --main-grey: #393939;
    --primary-blue: #4FA8DA;
}

.about-us {
    /* padding: 500px; */
    padding-top: 10rem;
    border: 1px sold red;
}

.about-us h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.content {
    line-height: 1.1;
    display: flex;
    max-width: 800px;
    margin: auto;
    gap: 40px;
    text-align: left;
    align-items: center;
    color: var(--main-grey);
    padding: 20px;
    border-radius: 10px;
}

.content img {
    width: 100%; 
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}

.text {
    max-width: 55%; 
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}

.logos img {
    max-height: 130px; 
    margin: 10px;
    width: auto;
    padding: 10px; 
    border-radius: 5px;
}
