:root {
    --main-white: #f0f0f0;
    --main-grey: #393939;
    --primary-blue: #4FA8DA;
}

footer {
    position: relative;
    padding-top: 10rem;
    width: 100%;
    bottom: 0;
}

.row {
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 15px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 20%;
}

.logo {
    width: 200px;
}

.col h3 {
    font-size: 30px;
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}

.col li {
    list-style: none;

}

.col a {
    font-size: 20px;
    text-decoration: none;

}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-white);
    margin-bottom: 50px;
}

footer form .far {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    color: white;
}

footer form input::placeholder {
    color: white;
}

footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer form button .fas {
    font-size: 16px;
}

.socialicons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: var(--main-white);
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid var(--main-white);
    margin: 20px auto;
}

.copyright {
    font-size: 20px;
    text-align: center;
}


.gota-footer {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
}

form img:nth-child(1) {
    transform: translateX(-1rem);
}

form img {
    width: 1.4rem;
}
