:root {
    --main-white: #f0f0f0;
    --main-grey: #393939;
    --primary-blue: #4FA8DA;
}

html 
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Poppins", sans-serif;
    color: var(--main-grey);
    overflow-x: hidden;
}
