.video-section {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.video-container {
    position: relative;
    width: 67%;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.background-assets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container iframe {
    position: relative;
    border-radius: 10px;
}

.gota-esquerda-video, .gota-direita-video {
    position: absolute;
    width: 150px;
    height: auto;
}

.gota-esquerda-video {
    top: 30px;
    left: -70px;
}

.gota-direita-video {
    bottom: -40px;
    right: -70px;
}
